{:deps  {com.taoensso/tufte {:mvn/version "2.3.0-RC1"}
         com.clojure-goes-fast/clj-async-profiler {:mvn/version "1.0.3"}
         org.clojure/core.cache {:mvn/version "1.0.225"}}

:aliases {:dev {:jvm-opts ["-Djdk.attach.allowAttachSelf"]}}
 }
